.viabilidad-tp {
    background: #47bb6b !important;
    color: white !important;
    font-weight: 500;
}

.viabilidad-sst {
    background: #ccbc4b !important;
    color: white !important;
    font-weight: 500;
}
.viabilidad-tele {
    background: #CC99FF !important;
    color: white !important;
    font-weight: 500;
}
.viabilidad-tec {
    background: #2f8be0 !important;
    color: white !important;
    font-weight: 500;
}
.viabilidad-sin {
    background: #FFFFFF !important;
    color: black !important;
    font-weight: 500;
}
a.nav-link.usuarios-activos {
    background: green !important;
    color: white !important;
    font-weight: 500;
}
a.nav-link.usuarios-inactivos {
    background: red !important;
    color: white !important;
    font-weight: 500;
}

#ofBar{
    background: #de2e2e;
    text-align: justify;
    z-index: 999999999;
    font-size: 16px;
    color: #fff;
    padding: 18px 5%;
    font-weight: 400;
    display: block;
    position: relative;
    top: 0px;
    box-shadow: 0 6px 13px -4px rgba(0, 0, 0, 0.25);
}
